*{
    font-family: 'montserrat', sans-serif;
    font-weight: 100px; 
}


.container{
    background-color: #86f;
    padding: 20px 5px;
}

.caja {
    background: #025;
    height: 80px;
    width: 80px;
    margin: 20px;
    position: relative;
    animation-name: desplazarse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}

@keyframes desplazarse {
    0% {
        background: #000;
        left:0;
    }
    30% {
        background: red;
    }
    100% {
        left: 80%; 
        background:yellow
    }
}