*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100px; 
}

.menu__mobile-ul{
    display: none;
}

.menu{
    background-color: #416864; 
}

.menu__container{
    display: flex;
    padding: 5px;
    padding-left: 20px;
    align-items: center;
}

.redes a {
    display: block;
    margin-top: 7px;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.redes i{
    font-size: 30px;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header h1{
    margin: 0;
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 20px;
}

.menu__ul{
    margin: auto;
    width: 80%;
    height: 100%;
    text-align: center;    
    border-top: 1px solid #548883;
}

.menu__li {
    display: inline-block;
    padding: 12px;  
}

.menu__li a, .footer__li a{
    color: #fff;
    text-decoration: none; 
}

.menu__li:hover, .footer__li:hover{
    color:#ccc;
}

.menu__li:hover > a, .footer__li:hover > a{
    color: #ccc;
}

.menu__li i, .footer__li i{
    box-sizing: border-box;
    margin-right: 5px;
    text-align: right;
    color: #fff;
}



.menu__mobile-button-container{
    position:absolute;
    width:100%;
    font-size: 20px;
    background-color: 416864;
    color: black;
    /* color: #ffffff; */
    top: -32px;
    z-index: 100;
}

.menu__mobile-button{
    text-align: right;
    width: 100%;
    padding: 6px 20px;
}

footer{
    background-color: #355552;
    height: 300px;
    background: linear-gradient(to bottom, #406662, transparent);
}

.footer-container{
    display: flex;
    color: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 40px ;
    margin: 0 auto;
    background: linear-gradient(to bottom , transparent, #406662);
    border-radius: 10%;
}

.footer__item{
    display: flex;
    flex-direction: row;
    text-align: start;
    padding-left: 10px;
}

.footer__item.categorias{    
    flex-grow: 2;
}

.footer__item.contacto{
    flex-grow: 1;
}

.footer__item.conectados{
    flex-grow: 2;
}

.footer__ul{
    list-style: none;
    width: 100%;
}

.footer__li{
    margin: 30px 0;
}




@media only screen and (max-width: 850px){
    .menu__ul, .redes{
        display: none;
    }

    h1{display: none;}

    .menu__container{
        padding:0px
    }
    
    .menu{
        height: 32px;
        width: 100%;
    }

    .menu__mobile-ul{
        display: block;
        position: absolute;
        width: 100%;
        margin-top: 32px;   
    }
    
    .menu__li-container{
        border-top: 1px solid #355552;
        position: relative;
        background-color: #416864;
        top: -1000px;
        padding-top: 5px;
        transition: all 1s;
        z-index: 50;
        /* height: calc(100vh - 32px); */ /*para toamr tamaño completo de la pantalla */
    }

    .menu__mobile-li{
        width: 100%;
        padding: 9px 18px;
    }

    .menu__mobile-li a{
        color: #fff;
        text-decoration: none;
    }

    .menu__mobile-li i{
        box-sizing: border-box;
        margin-right: 5px;
        text-align: right;
        color: #ffffff;
        /* width: 30px; */
    }

    .menu__mobile-ul:hover > .menu__li-container{
        top: 0px;
    }
}