*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100px; 
}

.menu__mobile-ul{
    display: none;
}

.menu{
    background-color: #416864;
}

.menu__li {
    display: inline-block;
    padding: 12px;
    color: #fff;
}

.menu__li a {
    color: #fff;
    text-decoration: none;
}

.menu__li:hover{
    color:#ccc;
}

.menu__li:hover > a{
    color: #ccc;
}

.menu__li i {
    box-sizing: border-box;
    margin-right: 5px;
    text-align: right;
}

.menu__mobile-button-container{
    position:absolute;
    width:100%;
    font-size: 20px;
    background-color: 416864;
    color: #ffffff;
    top: -32px;
    z-index: 100;
}

.menu__mobile-button{
    text-align: right;
    width: 100%;
    padding: 6px 20px;
}

@media only screen and (max-width: 500px){
    .menu__ul{
        display: none;
    }
    
    .menu{
        height: 32px;
        width: 100%;
    }

    .menu__mobile-ul{
        display: block;
        position: absolute;
        width: 100%;
        margin-top: 32px;   
    }
    
    .menu__li-container{
        border-top: 1px solid #355552;
        position: relative;
        background-color: #416864;
        top: -1000px;
        padding-top: 5px;
        transition: all 1s;
        z-index: 50;
        height: calc(100vh - 32px);
    }

    .menu__mobile-li{
        width: 100%;
        padding: 9px 18px;
    }

    .menu__mobile-li a{
        color: #fff;
        text-decoration: none;
    }

    .menu__mobile-li i{
        box-sizing: border-box;
        margin-right: 5px;
        text-align: right;
        color: #ffffff;
        /* width: 30px; */
    }

    .menu__mobile-ul:hover > .menu__li-container{
        top: 0px;
    }

}