*{
    font-family: 'montserrat', sans-serif;
    font-weight: 100px; 
}

.container{
    background: #86f;
    padding: 20px 5px;
}

.caja {
    background: #025;
    height: 100px;
    width: 100px;
    transition-property: left, background;
    transition-duration: 3s, 1s;
    margin: 30px; 
    position: relative;
    left: 0;
}

.container:hover > .caja{
    background: green;
    left: 80%;
}

.caja:first-child{
    transition-timing-function: linear;
}

.caja:nth-child(2){
    transition-timing-function: ease;
}

.caja:nth-child(3){
    transition-timing-function: ease-in;
}

.caja:nth-child(4){
    transition-timing-function: ease-out;
}

.caja:nth-child(5){
    transition-timing-function: ease-in-out;
}