/* Article mensajes */
.article-msg{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    height: auto;
    width: 80%;
    background: linear-gradient(to bottom, var(--color-pri), transparent);
    border-radius: 7px;
}

.msg-container{
    display: flex;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, var(--color-pri), transparent);
    /* background-color: var(--color-pri); */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.form-msg{
    min-width: 400px;
    flex-grow: 1;
    text-align: center;
    padding: 20px;
}

.form-msg-img{
    flex-grow: 1;
    display: flex;
    min-width: 300px;
    max-width: 400px;
    padding: 10px;
}

.form-msg-img div{
    padding: 10px;
}

.msg-img-container{
    margin: auto;
}

.msg-img-container div {
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 40px;
}

.form-msg-img img{
    width: 90% ;
    margin: auto;
}

.form-msg__input{
    width: 100%;
    padding: 7px 0px;
    margin: 5px 0px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: white;
    transition-property: box-shadow;
    transition-duration: 0.2s;
}

.form-msg__input::placeholder{
    color: #999;
}

.form-msg__input:focus{ 
    outline: none;
    border-bottom: 2px solid #aaa;
}

.form-msg__input:hover{
    box-shadow: 0 0.5rem 0.9rem rgba(0, 0, 0, 0.3);
    border-radius: 5px;

}

.form-msg textarea{
    min-height: 150px;
    resize: none;
}

.form-msg__input[type="submit"]{
    background-color: #000;
    border-bottom: none;
    padding: 10px;
}

.form-msg input[type="submit"]:hover{
    background-color: #111;
}

.form-msg input[type="submit"]:focus{
    background-color: #222;
}

.form-msg input[type="submit"]:active{
    background: linear-gradient(to bottom, #222, #000);
}


/*Arcicle recibidos*/

.article-mr{
    width: 100%;
    height: 100px;
    background-color: lightblue;
}