.article-nos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nos__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 7% 30px 7%;
    
}

.nos__titulo{
    font-size: 25px;
    margin: 25px auto;
}

.nos__item{
    font-weight: bold;
    margin-bottom: 15px;
}


/*ASIDE */

.aside-nos {
    display: flex;
    justify-content: center;
}

.aside__cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    border-top: 1px solid #bbb;
    padding: 30px 0 50px 0 ;
}

.aside__div{
    flex-grow: 1;
    width: 270px;
    border-left: 1px solid #bbb;
    text-align: center;
}

.aside__div:first-child{
    border-left: none;
}



@media only screen and (max-width: 1030px){
    .aside__div:last-child{
        border-left: none;
        border-top: 1px solid #bbb;
    }

    .aside__cont{
        padding: 10px 0 50px 0 ;
    }

    .aside__div{
        margin-bottom: 10px;
    }

    
}

@media only screen and (max-width: 780px){
    .nos__contenedor{
        margin-top: 40px;
    }

    .nos__titulo{
        margin: 25px 0;
    }
}

@media only screen and (max-width: 690px){
    .aside__div:nth-child(2){
        border-top: 1px solid #bbb;
        border-left: none;
    }

    .aside__div{
        margin-bottom: 10px;
        padding-top: 10px;
    }

    .aside__cont{
        padding-top: 0;
    }
}