button i {
    font-size: 50px;
}

.cont-gral{
    padding: 0 !important ;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cont-list{
    /* border-right: 3px solid black; */
    width: 280px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-color: var(--color-back);

}

.list-tit{
    margin: 5px;
    padding: 15px;
    font-size: 1.3rem;
    /* flex-grow: 0; */
    /* border: 1px solid orange; */
}

.list-ul{
    /* flex-grow: 1; */
    /* border: 1px solid green; */
    height: 250px;
    margin: 5px;
    padding: 5px;
}

.list-item{
    padding-left: 10px;
    margin-bottom: 4px;
}

.list-item:hover{
    cursor: pointer;
    color: #888;
}

.fil-bus{
    margin: 5px;
    padding-left: 15px;
    flex-wrap: nowrap;
    /* flex-grow: 1; */
    /* border: 1px solid yellow; */
    font-size: 0.9rem;
}

#prodBuscado{
    width: 70%;
}

#buscar{
    width: 25%;
    cursor: pointer;
}

.cont-prod{
    /* border: 1px solid red; */
    flex-grow: 1;
    border-left: 1px solid #aaa;
    padding: 10px;
}

.article-prod{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



