button i {
    font-size: 50px;
}

.cont-gral{
    padding: 0 !important ;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cont-list{
    /* border: 3px solid black; */
    flex-grow: 0;
    width: 280px;
    display: flex;
    flex-direction: column;
    height: 60vh;
}

.list-tit{
    margin: 5px;
    padding: 5px;
    border: 1px solid orange;
    flex-grow: 0;
}

.list-ul{
    flex-grow: 1;
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
}
.list-item{
    padding-left: 10px;
}

.fil-bus{
    flex-grow: 0;
    flex-wrap: nowrap;
    border: 1px solid yellow;
    margin: 5px;
    padding: 5px;
}

#prodBuscado{
    width: 70%;
}

#buscar{
    width: 25%;
    cursor: pointer;
}

.cont-prod{
    /* border: 1px solid red; */
    flex-grow: 1;
    border-left: 3px solid #aaa;
    padding: 10px;
}
