*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100px; 
}

:root {
    
    --color-pri: #406662 ; /*verde: #406662*/
    --color-select: #e2e0e0 ; /*background: #f3eded ;*/
    --color-back: #eee; 
}

body{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-back);
}

.menu__mobile{
    display: none;
}

.menu{
    background: linear-gradient(to top, var(--color-pri), transparent);
}

.menu__container{
    display: flex;
    padding: 5px;
    padding-left: 20px;
    align-items: center;
    background: linear-gradient(to bottom, var(--color-pri), transparent);
}

.redes a {
    display: block;
    margin-top: 7px;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.redes i{
    font-size: 30px;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header h1{
    margin: 0;
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 20px;
}

.menu__ul{
    margin: auto;
    width: 80%;
    height: 100%;
    text-align: center;    
    border-top: 1px solid #ccc;
}

.menu__li {
    display: inline-block;
    padding: 12px;  
}

.menu__li a, .footer__li a{
    color: #fff;
    text-decoration: none; 
}

.menu__li:hover, .footer__li:hover{
    color:#ccc;
}

.menu__li:hover > a, .footer__li:hover > a{
    color: #ccc;
}

.menu__li i, .footer__li i{
    box-sizing: border-box;
    margin-right: 5px;
    text-align: right;
    color: #fff;
}

/*-------------------------- footer--------------------------------*/

footer{
    background-color: #355552;
    /* height: 300px; */
    background: linear-gradient(to bottom, var(--color-pri), transparent);  
    margin-top: auto;
}


.footer-container{
    display: flex;
    justify-content: space-around;
    color: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
    padding-left: 8%;
    margin: 0 auto;
    background: linear-gradient(to bottom , transparent, var(--color-pri));
    border-radius: 10%;
}

.footer__item{
    text-align: start;
    flex-grow: 1;
    list-style: none;
    width: 250px;
    margin-top: 10px;

}

.footer__li{
    margin: 15px 0px;
}

.footer__li-titulo b{
    margin-top: 10px;
    text-shadow: 1px 0px 3px #888;
}

/*-----------------------------section--------------------------*/

section{
    display: flex;
    flex-direction: column;
}

.cat-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
}

.article-tittle {
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    animation-name: ani-opacity;
    animation-duration: 4s;
}

.nov-tit{
    border-top: 1px solid #ccc;

}

.img-container-dest{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cont-card-dest{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-container-nov{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.cont-card-nov{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.img__card{
    height: 300px;
    flex-basis: 220px; 
    width: 220px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0.5rem 0.9rem rgba(0, 0, 0, 0.3);
    margin: 10px 5px;
    padding: 10px;
}

.img__card:hover{
    box-shadow: 0.4rem 0.1rem   1.2rem rgba(0, 0, 0, 0.3);
    background: var(--color-select) ;
    /* color: white; */
}

.img__card img {
    height: 200px;
    max-width: 200px;
}

.card__item{
    margin-bottom: 5px;
}

.card-btn{
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 10px;
}
.card-btn i {
    font-size: 30px;
}



@media only screen and (max-width: 835px){
    .footer__item:first-child{
        display: none;
    }
}


@media only screen and (max-width: 780px){
    
    /*---menu esc */
    .menu__ul, .redes, h1{
        display: none;
    }

    .menu__container{
        padding:0px
    }


    /*-----menu mobile-----*/
    .menu{
        height: auto;
        background: transparent;
    }
    
    .menu__mobile{
        display: block;
        height: auto;
        width: 100%;
    }


    .menu__mobile-button-container{
        display: flex;
        position: fixed;
        width: 100%;
        height: 40px;
        align-items: center;
        background: linear-gradient(to bottom, transparent, var(--color-pri));
    }

    .menu__mobile-titulo{
        padding: 6px 0 ;
        height: 100%;
        width: 80%;
        text-align: center;
        font-size: 26px;
        background: linear-gradient(to top, transparent, var(--color-pri));
        font-weight: bold;
    }

    .menu__mobile-button{
        width: 20%;
        color: black;
        font-size: 26px;
        padding: 7px 10px 7px 0px;
        background: linear-gradient(to top, transparent, var(--color-pri));
        text-align: right;
    }

    .menu__li-container{
        position: absolute;
        transform: translate(-100%, 40px);
        width: 60%;
        height: 100%;
        background: radial-gradient(circle, #ddd, var(--color-pri));
        list-style: none;
        transition: all 0.4s ease; 
        padding-top: 20px;
        padding-left: 10px;
    }

    .menu__mobile:hover > .menu__li-container{
        transform: translate(0%, 40px);
    }

    .menu__mobile-li{
        width: 100%;
        padding: 15px 18px;
        font-size: 20px;
    }

    .menu__mobile-li a{
        color: #fff;
        text-decoration: none;
    }

    .menu__mobile-li i{
        box-sizing: border-box;
        margin-right: 10px;
        text-align: right;
        color: #ffffff;
        /* width: 30px; */
    }

    /*-----Section mobile-----*/

    section{
        margin-top: 40px;
    }

    .img-container{
        justify-content: space-around;
    }


    /*-----footer mobile-----*/

    footer{
        min-width: 300px;
        height: auto;
    }

    

    .footer__item{
        text-align: center;
        min-width: 300px;
    }

    .footer-container{
        padding: 0;
        min-width:300px;
        height: auto;
    }

}


@media only screen and (max-width: 600px){
    .footer__li-titulo{
        margin-top: 0px;
    }

    .footer__item:nth-child(3) {
        margin-top: 0px !important;
    } 
}



/*-----ANIMACIONES-----*/

@keyframes ani-opacity{
    0%{
        opacity: 0;
        /* transform: translateX(-100%); */
    }

    100%{
        opacity: 100%;
        /* transform: translateX(0px); */
    }
}

@keyframes ani-translate-ing{
    0%{
        transform: translateX(-1800px);
    }

    100%{
        transform: translateX(0px);
    }
}

@keyframes ani-translate-sal{
    0%{
        transform: translateX(1800px);
    }

    100%{
        transform: translateX(0px);
    }
}

