*{
    font-family: 'montserrat', sans-serif;
    font-weight: 100px; 
}

.flex-container{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.flex-item{
    background-color: blue;
    color: #fff;
    margin: 5px;
    min-width: 120px;
    text-align: center;
    height: 100px;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}